.container-accordion {
    height: 200px;
    width: 1100px;
    margin-left: 10px;
    display: flex;
    z-index: 1;   
}

#accordion-color2 {
    background-color: rgb(231, 186, 186);
}

#navbar {
    background-color: rgb(255, 208, 190);
    font: bolder;
    color: rgb(253, 253, 253);
}

#container-card {
    margin: auto;
   
}